---
name: Tests

on:
  pull_request:
    branches:
      - main

jobs:
  molecule:
    name: Molecule
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Install test dependencies
        run: pip3 install -r test-requirements.txt
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Run molecule
        run: molecule test
